@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$green: #d8db2f;
$background: #e4f3fd;
$darkBlue: #133041;
$white: #ffffff;
$thinTextColor: #4e6e7e;
$spanBox: #6b94a8;
$lightYellow: #f9fae0;
$resultsBg: #0e2431;
$font: "Plus Jakarta Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

main {
  background-color: $background;
  height: 100vh;
  div.container {
    display: flex;
    flex-direction: column;

    div.calculator {
      background-color: $white;
      padding: 32px 24px;
    }
    div.output {
      background-color: $darkBlue;
    }
  }
}
