@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

$green: #d8db2f;
$background: #e4f3fd;
$darkBlue: #133041;
$white: #ffffff;
$thinTextColor: #4e6e7e;
$spanBox: #6b94a8;
$lightYellow: #f9fae0;
$resultsBg: #0e2431;
$font: "Plus Jakarta Sans", sans-serif;
$paragraphColor: #9abed5;
$opacityPColor: #9abed540;
$opacityGreen: #d7da2f80;
$errorColor: #d73328;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

@mixin spanBox {
  background-color: $background;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  color: $thinTextColor;
}
